global-reset()

<% if (!bare) { %>// Feel free to delete declarations below
// and write your own.

.welcome
  padding: 4em

  max-width: 500px

  font: 14px/1.4 "Lucida Grande", sans-serif

  color: darken(#c8c5c0, 35%)

  -webkit-font-smoothing: antialiased

.welcome__title
.welcome__paragraph
  margin-bottom: 0.7em

.welcome__title
  font-size: 1.8em

  color: #624f53

.welcome__link
  border-bottom: 1px solid #bedce7

  color: darken(#a2bdce, 20%)
  text-decoration: none<% } %>
